server:
  port: 8080

database:
  host: localhost
  port: 3306
  username: root
  password: "123456"
  database: micro_headlines
  charset: utf8mb4

jwt:
  secret_key: micro-headlines
  expiration_time: 3600  # 1小时，单位：秒

